#sidebar {
    height: 100%; /* 100% Full-height */
    width: 300px;
    position: fixed;
    /* z-index: 1; Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px; Place content 60px from the top */
     transition: 0.5s; /*0.5 second transition effect to slide in the sidebar */
}

a .nav-link .text-white {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

li .dropdown-item {
    font-size: 28px;
}